#video-target-gen > video {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-right: -100px;
}

article[class="about-us"] {
  margin-bottom: 50px;
  display: grid;
}

.block-wrapper {
  display: -ms-grid;
  display: grid;
  max-width: 1080px;
  width: 100%;
  grid-template-columns: 500px 1fr;
  grid-auto-flow: dense;
  justify-content: center;
  justify-self: center;
  margin-bottom: 40px;
}

.block.photo {
  margin-right: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 900px) {
  .block-wrapper {
    grid-template-columns: minmax(200px, 500px);
    justify-items: center;
  }
}

.block.photo {
  border: 1px solid black;
}

.block.photo .slide {
  height: 100%;
  width: 100%;
}
