#video-target-gen > video {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-right: -100px;
}

article[class="about-us"] {
  margin-bottom: 50px;
}

.block-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.block {
  max-width: 500px;
  width: 100%;
  margin-bottom: 10px;
}

.block.photo {
  border: 1px solid black;
}

.block.photo img {
  height: 100%;
  width: 100%;
}
