.post > div {
  display: none;
}

.post:hover > div {
  display: -ms-grid;
  display: grid;
}

.post .like-wrapper {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  height: 40px;
}

.post .like-wrapper > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 120px;
  grid-template-columns: 30px 40px;
  justify-self: end;
  justify-items: center;
  align-self: center;
  margin-right: 5px;
}

.post .like-wrapper .like-icon {
  -ms-grid-column: 1;
}

.post .like-wrapper .likes-number {
  -ms-grid-column: 2;
}

.post .likes-number {
  align-self: center;
  font-size: 14px;
}

.post .like-icon {
  height: 20px;
}

.post .like-wrapper > div {
  width: 70px;
}

.post .user-name {
  font-size: 12px;
}

.post .share-icon {
  height: 20px;
}

.post .user-wrapper {
  width: 100%;
  -ms-grid-columns: 150px 150px;
  grid-template-columns: 150px 150px;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  align-items: center;
  align-self: end;
}

.post .user-wrapper .user {
  -ms-grid-column: 1;
}

.post .user-wrapper .share {
  -ms-grid-column: 2;
}

.post .user {
  width: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  align-self: end;
  margin-bottom: 5px;
  -ms-grid-column: 1;
}

.post .user-image {
  -ms-grid-column: 1;
  padding-left: 10px;
}

.post .user-image img {
  width: 35px;
  border-radius: 50%;
}

.post .user-name {
  -ms-grid-column: 2;
  font-size: 12px;
  font-weight: bold;
}

.post .share {
  width: 20px;
  justify-self: end;
  margin-right: 10px;
  margin-bottom: 5px;
  -ms-grid-column: 2;
}
