@import url("./menu/style.css");
@import url("./search/style.css");
@import url("./posts/style.css");
@import url("./breadcrumbs/style.css");
@import url("./filter/style.css");
@import url("./pagination/style.css");

/* fonts */

@font-face {
  font-family: "Dancing Script";
  src: url("./fonts/dancing-script/DancingScript-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

body {
  font-family: "Roboto", sans-serif;
}

body > header h2 {
  font-family: "Dancing Script";
}

/* !fonts */

body > header {
  height: 370px;
  background-image: url("../images/header/alessandro-sacchi.jpg");
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
}

h1 {
  font-size: 30px;
}

article[role="main"] header {
  margin-right: 5px;
  margin-left: 5px;
}

.header-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
  grid-template-columns: 1fr 5fr 200px;
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: rgb(34, 34, 34);
}

@media screen and (max-width: 820px) {
  .header-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr 40px;
    grid-template-columns: 1fr 5fr 40px;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgb(34, 34, 34);
  }
}

.inline-menu li {
  cursor: pointer;
}

.inline-menu > li:hover {
  color: rgb(170, 170, 170);
}

/* IE header elements columns placing */

.header-wrapper h2 {
  -ms-grid-column: 1;
}

.header-wrapper form {
  -ms-grid-column: 2;
}

.header-wrapper nav {
  -ms-grid-column: 3;
}

/* !IE header elements columns placing */

.header-wrapper h2 {
  justify-self: center;
}

.header-wrapper h2,
#main-menu ul {
  color: white;
}

.header-wrapper h2 {
  font-size: 30px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

/* IE main-menu elements columns placing */

#main-menu li:nth-child(1) {
  -ms-grid-column: 1;
}

#main-menu li:nth-child(2) {
  -ms-grid-column: 2;
}

#main-menu li:nth-child(3) {
  -ms-grid-column: 3;
}

#main-menu li:nth-child(4) {
  -ms-grid-column: 4;
}

/* !IE main-menu elements columns placing */

ul {
  list-style: none;
  justify-self: start;
}

/* footer */

footer {
  background-color: rgb(34, 34, 34);
  width: 100%;
  padding: 8px;
  margin-left: -8px;
  margin-bottom: -8px;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 12px;
}

.footer-wrapper {
  justify-self: center;
}

.rights {
  display: grid;
  justify-content: center;
}

.social-buttons img {
  height: 10px;
}

footer a {
  margin-right: 5px;
  margin-left: 5px;
  color: white;
}

/* !footer */

/* remove standart button styles */

.header-wrapper form button,
.pagination button,
.empty-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* !remove standart button styles */
