nav ul {
  position: relative;
}

.burger {
  margin-top: -4px;
}

.burger .main-menu-list {
  margin-right: -15px;
}

.inline-menu {
  top: 0;
  margin-top: 25px;
}

#main-menu {
  margin-top: -10px;
  margin-left: -100px;
  font-size: 15px;
}

.vertical-line {
  border-right: 1px solid rgb(185, 185, 185);
  padding-right: 10px;
}

/* #main-menu > ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 75px 75px 75px 30px;
} */

.burger li {
  display: none;
}

.burger .main-menu-list {
  display: none;
}

.dropdown-menu,
.main-menu-list {
  background-color: rgb(34, 34, 34);
  position: absolute;
  list-style-type: none;
  width: 150px;
  margin-top: 32px;
  padding: 0;
  top: 0;
}

.inline-menu .dropdown-menu,
.inline-menu .main-menu-list {
  display: none;
}

.dropdown-menu {
  margin-left: -1px;
  margin-right: 5px;
}

.main-menu-list {
  right: 0;
}

.dropdown .main-menu-list > li,
.dropdown .dropdown-menu > li {
  padding: 5px;
}

/* sub menu */

.sub-menu {
  list-style-type: none;
  margin-top: 5px;
  width: 150px;
  padding: 0;
}

.inline-menu .sub-menu,
.burger .sub-menu/* .dropdown > ul  */ {
  display: none;
}

.inline-menu .sub-menu {
  margin-left: -5px;
}

.burger .sub-menu {
  margin-left: -5px;
}

.sub-menu li {
  padding: 5px;
}

/* light */

.sub-menu.light {
  background-color: rgb(177, 177, 177);
}

.light > li:hover {
  border-bottom: 1px solid rgb(34, 34, 34);
  /* 
  background-color: rgb(248, 248, 248); */
}

.sub-menu.light > li,
.light li > label,
.light li > label > div {
  color: rgb(34, 34, 34);
}

/* !light */

/* dark */

.sub-menu.dark {
  background-color: rgb(34, 34, 34);
}

.sub-menu.dark > li,
.dark > li > label,
.dark > li > label > div {
  color: white;
}

.dark > li:hover {
  border-bottom: 1px solid rgb(177, 177, 177);
  /* 
  background-color: rgb(63, 63, 63); */
}

/* !dark */

/* !sub menu */

.arrow-icon {
  height: 10px;
}

.sub-menu-wrapper label {
  /* width: 100%; */
}

.more-icon,
.login-icon {
  height: 17px;
}

.login-icon {
  margin-bottom: -3px;
}

#main-menu {
  display: grid;
  justify-items: end;
}

.inline-menu > li {
  display: inline-block;
}

.inline-menu {
  justify-self: end;
}

.inline-menu li {
  cursor: pointer;
  margin-right: 10px;
}

@media screen and (max-width: 820px) {
  .header-wrapper input {
    width: 90%;
  }

  .burger li {
    cursor: pointer;
  }

  .main-menu-list {
    /* font-size: 17px; */
    font-size: 15px;
  }

  #main-menu {
    margin-top: -36px;
    font-size: 25px;
    justify-self: end;
    width: 50px;
  }

  #main-menu .burger {
    margin-left: -30px;
  }

  .burger-icon {
    height: 25px;
  }

  #main-menu .burger li i {
    margin-left: -20px;
  }

  .burger li {
    display: inherit;
  }

  .inline-menu li {
    display: none;
  }
}
